

.parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-family: 'Abyssinica SIL', serif;
  font-size: 60px;
}

.subtitles {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;

}

.image { 
height: 250px;
width: 300px;
}

.help {
  margin: 50px;
}

:root {
  --first-color: #393b39;
  --second-color: #fffaeb;
  --third-color: #0b2f5e;
  --fourth-color: #edbc1a;
}

.dark {
  background-color: var(--first-color);
  color: var(--second-color);
}

.blue {
  background-color: var(--third-color);
  color: var(--fourth-color);
}

.light {
  background-color: var(--second-color);
  color: var(--first-color);
}

.themes{
  margin-left: 30px;
  margin-top: 30px;
  
}




#dark {
  background-image: url(https://cdn-icons-png.flaticon.com/512/0/14.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 100%;

}

#light {
  background-image: url(https://www.google.com/search?q=blue+circle&rlz=1C1GCEU_enUS1022US1022&oq=blue+circle&aqs=chrome..69i57j0i131i433i512j0i512l8.2608j1j7&sourceid=chrome&ie=UTF-8#imgrc=_8bmeDQewQ3trM);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 100%;

}

#blue {
  background-image: url(https://emojipedia-us.s3.amazonaws.com/source/skype/289/large-blue-circle_1f535.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 100%;

}



.amongus {
	background-color:#2b93b5;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  padding: 10px;
}
.amongus:hover {
	background-color:#b4f1fa;
}
.amongus:active {
	position:relative;
	top:1px;
}

h2{
  font-family: 'Abyssinica SIL', serif;
}