.parent {
  display: flex;
  justify-content: center;
  align-content: horizontal;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.subtitles {
  text-align: center;
}

.image { 
height: 250px;
width: 300px;
}

.help {
  margin: 50px;
}