

.parent {
  display: flex;
  justify-content: center;
  align-content: horizontal;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.subtitles {
  text-align: center;
}

.image { 
height: 250px;
width: 300px;
}

.help {
  margin: 50px;
}

:root {
  --first-color: #393b39;
  --second-color: #fffaeb;
  --third-color: #0b2f5e;
  --fourth-color: #edbc1a;
}

.dark {
  background-color: var(--first-color);
  color: var(--second-color);
}

.blue {
  background-color: var(--third-color);
  color: var(--fourth-color);
}

.light {
  background-color: var(--second-color);
  color: var(--first-color);
}